body {
    min-width: 300px;
}
h1 {
    margin-top: 35px;
    margin-bottom: 10px;
}
#fact-source {
    text-align: center;
}
#subject {
    border: none;
    border-bottom: grey solid 2px;
    border-radius: 0px;
}

#question {
    text-align: center;
}