body {
    min-width: 300px;
}
h1 {
    margin: 35px 0 10px 0;
}
#fact-source {
    text-align: center;
}
#subject {
    border: none;
    border-bottom: grey solid 2px;
    border-radius: 0px;
}

#question {
    text-align: center;
}